## Ecommerce
You can use Ecommerce Metrics in two different ways:
* With Polars
* As a Single Value Function (SVF)

Metric Forge extends the Polars expression library; making it possible to perform row-wise-calculations for various metrics. In addition to mass calculations, you can also perform single value calculations that return just one value.

In [ ]:
from metric_forge.ecommerce import * 
import polars as pl
data = pl.read_csv('datasets/ecommerce_metrics.csv')
data.head()

shape: (5, 15)
┌─────────┬──────────────┬──────────────┬──────────────┬───┬─────────────┬─────────────┬─────────────┬─────────────┐
│ month   ┆ total_revenu ┆ number_of_or ┆ cost_of_acqu ┆ … ┆ revenue_per ┆ average_cus ┆ num_custome ┆ total_custo │
│ ---     ┆ e            ┆ ders         ┆ isition      ┆   ┆ _customer   ┆ tomer_lifet ┆ rs_lost     ┆ mers_beginn │
│ str     ┆ ---          ┆ ---          ┆ ---          ┆   ┆ ---         ┆ ime         ┆ ---         ┆ ing         │
│         ┆ f64          ┆ i64          ┆ f64          ┆   ┆ f64         ┆ ---         ┆ i64         ┆ ---         │
│         ┆              ┆              ┆              ┆   ┆             ┆ f64         ┆             ┆ i64         │
╞═════════╪══════════════╪══════════════╪══════════════╪═══╪═════════════╪═════════════╪═════════════╪═════════════╡
│ 2023-01 ┆ 87454.011885 ┆ 991          ┆ 22958.350559 ┆ … ┆ 202.427329  ┆ 3.159364    ┆ 239         ┆ 3306        │
│ 2023-02 ┆ 145071.43064 ┆ 913          ┆ 18736.874206 ┆ … ┆ 116.173436  ┆ 1.812245    ┆ 124         ┆ 4680        │
│         ┆ 1            ┆              ┆              ┆   ┆             ┆             ┆             ┆             │
│ 2023-03 ┆ 123199.39418 ┆ 1305         ┆ 28355.586842 ┆ … ┆ 384.265156  ┆ 4.771414    ┆ 177         ┆ 4675        │
│         ┆ 1            ┆              ┆              ┆   ┆             ┆             ┆             ┆             │
│ 2023-04 ┆ 109865.84842 ┆ 885          ┆ 14184.81582  ┆ … ┆ 144.356328  ┆ 3.395462    ┆ 299         ┆ 2972        │
│ 2023-05 ┆ 65601.864044 ┆ 691          ┆ 18764.339456 ┆ … ┆ 275.734601  ┆ 3.77914     ┆ 296         ┆ 3768        │
└─────────┴──────────────┴──────────────┴──────────────┴───┴─────────────┴─────────────┴─────────────┴─────────────┘

#### Customer Acquisition Cost

In [ ]:
data.select(pl.col('cost_of_acquisition'),
            pl.col('new_customers'),
            pl.col('*').forge_ecommerce.customer_acquisition_cost('cost_of_acquisition', 'new_customers'))

shape: (12, 3)
┌─────────────────────┬───────────────┬───────────────────────────┐
│ cost_of_acquisition ┆ new_customers ┆ customer_acquisition_cost │
│ ---                 ┆ ---           ┆ ---                       │
│ f64                 ┆ i64           ┆ f64                       │
╞═════════════════════╪═══════════════╪═══════════════════════════╡
│ 22958.350559        ┆ 406           ┆ 56.547661                 │
│ 18736.874206        ┆ 234           ┆ 80.072112                 │
│ 28355.586842        ┆ 120           ┆ 236.296557                │
│ 14184.81582         ┆ 428           ┆ 33.142093                 │
│ 18764.339456        ┆ 266           ┆ 70.54263                  │
│ …                   ┆ …             ┆ …                         │
│ 33555.278842        ┆ 188           ┆ 178.485526                │
│ 15990.213465        ┆ 415           ┆ 38.530635                 │
│ 25427.033152        ┆ 113           ┆ 225.017992                │
│ 27772.437066        ┆ 341           ┆ 81.444097                 │
│ 11393.512382        ┆ 364           ┆ 31.300858                 │
└─────────────────────┴───────────────┴───────────────────────────┘

#### Average Order Value

In [ ]:
data.select(pl.col('total_revenue'),
            pl.col('new_customers'),
            pl.col('*').forge_ecommerce.average_order_value('total_revenue', 'number_of_orders'))

shape: (12, 3)
┌───────────────┬───────────────┬─────────────────────┐
│ total_revenue ┆ new_customers ┆ average_order_value │
│ ---           ┆ ---           ┆ ---                 │
│ f64           ┆ i64           ┆ f64                 │
╞═══════════════╪═══════════════╪═════════════════════╡
│ 87454.011885  ┆ 406           ┆ 88.248246           │
│ 145071.430641 ┆ 234           ┆ 158.895324          │
│ 123199.394181 ┆ 120           ┆ 94.405666           │
│ 109865.84842  ┆ 428           ┆ 124.142202          │
│ 65601.864044  ┆ 266           ┆ 94.937575           │
│ …             ┆ …             ┆ …                   │
│ 136617.614577 ┆ 188           ┆ 206.996386          │
│ 110111.501174 ┆ 415           ┆ 114.819084          │
│ 120807.25778  ┆ 113           ┆ 148.594413          │
│ 52058.44943   ┆ 341           ┆ 99.920248           │
│ 146990.985216 ┆ 364           ┆ 195.466736          │
└───────────────┴───────────────┴─────────────────────┘

#### Cart Abandonment Rate

In [ ]:
data.select(pl.col('carts_created'),
            pl.col('completed_purchases'),
            pl.col('*').forge_ecommerce.cart_abandonment_rate('carts_created', 'completed_purchases'))

shape: (12, 3)
┌───────────────┬─────────────────────┬───────────────────────┐
│ carts_created ┆ completed_purchases ┆ cart_abandonment_rate │
│ ---           ┆ ---                 ┆ ---                   │
│ i64           ┆ i64                 ┆ f64                   │
╞═══════════════╪═════════════════════╪═══════════════════════╡
│ 1969          ┆ 1425                ┆ 27.628238             │
│ 1506          ┆ 1421                ┆ 5.64409               │
│ 1497          ┆ 965                 ┆ 35.537742             │
│ 1963          ┆ 1102                ┆ 43.861437             │
│ 1009          ┆ 801                 ┆ 20.61447              │
│ …             ┆ …                   ┆ …                     │
│ 1108          ┆ 601                 ┆ 45.758123             │
│ 1975          ┆ 1395                ┆ 29.367089             │
│ 800           ┆ 669                 ┆ 16.375                │
│ 2005          ┆ 1215                ┆ 39.401496             │
│ 1704          ┆ 855                 ┆ 49.823944             │
└───────────────┴─────────────────────┴───────────────────────┘

#### Return on Advertising Spend

In [ ]:
data.select(pl.col('revenue_from_ads'),
            pl.col('advertising_spend'),
            pl.col('*').forge_ecommerce.return_on_advertising_spend('revenue_from_ads', 'advertising_spend'))

shape: (12, 3)
┌──────────────────┬───────────────────┬─────────────────────────────┐
│ revenue_from_ads ┆ advertising_spend ┆ return_on_advertising_spend │
│ ---              ┆ ---               ┆ ---                         │
│ f64              ┆ f64               ┆ f64                         │
╞══════════════════╪═══════════════════╪═════════════════════════════╡
│ 81339.957696     ┆ 5390.910169       ┆ 15.088353                   │
│ 76875.083402     ┆ 15585.037018      ┆ 4.932621                    │
│ 116505.482191    ┆ 14872.037954      ┆ 7.833861                    │
│ 106008.046381    ┆ 12337.204368      ┆ 8.59255                     │
│ 97258.809912     ┆ 5351.995568       ┆ 18.172438                   │
│ …                ┆ …                 ┆ …                           │
│ 116872.977654    ┆ 24754.388513      ┆ 4.721303                    │
│ 84633.082292     ┆ 20148.99937       ┆ 4.200362                    │
│ 54839.926382     ┆ 28157.521963      ┆ 1.947612                    │
│ 56664.615513     ┆ 21276.925638      ┆ 2.663196                    │
│ 44874.024516     ┆ 27873.991889      ┆ 1.609889                    │
└──────────────────┴───────────────────┴─────────────────────────────┘

#### Conversion Rate

In [ ]:
data.select(pl.col('num_conversions'),
            pl.col('num_visitors'),
            pl.col('*').forge_ecommerce.conversion_rate('num_conversions', 'num_visitors'))

shape: (12, 3)
┌─────────────────┬──────────────┬─────────────────┐
│ num_conversions ┆ num_visitors ┆ conversion_rate │
│ ---             ┆ ---          ┆ ---             │
│ i64             ┆ i64          ┆ f64             │
╞═════════════════╪══════════════╪═════════════════╡
│ 300             ┆ 13154        ┆ 2.280675        │
│ 427             ┆ 14762        ┆ 2.892562        │
│ 367             ┆ 10056        ┆ 3.649562        │
│ 132             ┆ 19948        ┆ 0.66172         │
│ 147             ┆ 13110        ┆ 1.121281        │
│ …               ┆ …            ┆ …               │
│ 392             ┆ 8840         ┆ 4.434389        │
│ 198             ┆ 6028         ┆ 3.284672        │
│ 271             ┆ 12385        ┆ 2.188131        │
│ 459             ┆ 5502         ┆ 8.342421        │
│ 313             ┆ 11910        ┆ 2.628044        │
└─────────────────┴──────────────┴─────────────────┘

#### Customer Lifetime Value

In [ ]:
data.select(pl.col('revenue_per_customer'),
            pl.col('average_customer_lifetime'),
            pl.col('*').forge_ecommerce.customer_lifetime_value(revenue_per_customer_column='revenue_per_customer',average_customer_lifetime_column='average_customer_lifetime',method='basic'))

shape: (12, 3)
┌──────────────────────┬───────────────────────────┬─────────────────────────┐
│ revenue_per_customer ┆ average_customer_lifetime ┆ customer_lifetime_value │
│ ---                  ┆ ---                       ┆ ---                     │
│ f64                  ┆ f64                       ┆ f64                     │
╞══════════════════════╪═══════════════════════════╪═════════════════════════╡
│ 202.427329           ┆ 3.159364                  ┆ 639.54169               │
│ 116.173436           ┆ 1.812245                  ┆ 210.534716              │
│ 384.265156           ┆ 4.771414                  ┆ 1833.488253             │
│ 144.356328           ┆ 3.395462                  ┆ 490.156408              │
│ 275.734601           ┆ 3.77914                   ┆ 1042.039585             │
│ …                    ┆ …                         ┆ …                       │
│ 290.148089           ┆ 2.182535                  ┆ 633.258286              │
│ 325.310229           ┆ 1.421977                  ┆ 462.583676              │
│ 378.206435           ┆ 2.826138                  ┆ 1068.863683             │
│ 155.732582           ┆ 1.873762                  ┆ 291.805755              │
│ 341.766952           ┆ 2.66604                   ┆ 911.164293              │
└──────────────────────┴───────────────────────────┴─────────────────────────┘